
<div class="row well hoverable">
<%= form_for(@sighting,:html=>{:name=>"f",:onsubmit=>"getLocation(event);"})  do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-field" >
    <%= f.label :species %><br>
    <%= f.select :species, [['snake','snake'],['crocodile','crocodile'],['tiger','tiger'],['other','other']],{:class=>"browser-default"}%>
  </div>

  
  <div>
  Image upload: <%= f.file_field :species_image  %>
  </div>

<!-- get latitude and longitude -->
  <%= f.hidden_field  :latitude %>
   <%= f.hidden_field  :longitude %>


 <%= f.hidden_field  :city_name %>

  <div class="actions ">
    <%= f.submit "Create Sighting", class:"btn btn-primary btn-lg text-center col-md-6 col-md-offset-3" %>
  </div>
<% end %>
</div>
