 <div class="row">

 <div class="hide-on-med-and-down ">
  <div class="slider  slider1 ">
    <ul class="slides">
      <li>
        <%= image_tag("slide1.jpg", :class => "responsive-img ") %> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h4 class="light grey-text text-lighten-3">Coexistence is the key to survival</h4>
        </div>
      </li>
      <li>
       <%= image_tag("slide2.jpg", :class => "responsive-img ") %> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h4 class="light grey-text text-lighten-3">Our jaws are for defending ourselves, not to attack you</h4>
        </div>
      </li>
      <li>
        <%= image_tag("slide3.jpg", :class => "responsive-img ") %> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h4 class="light grey-text text-lighten-3">An animals eyes has the power to speak great language</h4>
        </div>
      </li>
    </ul>
</div>
</div>

<div class="container z-depth-3 green lighten-5">
  <div class="row">
    <h2 class="center-align">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field col s12 m4 l4 input-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field col s12 m4 l4 input-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field col s12 m4 l4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <div class="actions">
          <%= f.submit "Log in" , class: "btn btn-link"%>
        </div>
      </div>
      <% end -%>
      <% end %>
  </div>
</div>

<div class="row mission">
   <div class="offset-s1 col s10">
   <h2 class="mission-1"> Our Mission</h2>
      <p class="z-depth-4 flow-text">
      <blockquote>
         Animal Rescue Squad is a major conservation organization focused solely on wildlife and habitat conservation and the safeguarding of biodiversity. We believe in the inherent value of wildlife and the natural world, and this singular focus defines our important niche in the environmental and conservation community and serves as the anchor for our organizational values.
      </blockquote>
      </p>
   </div>
</div>

<div class="container hide-on-med-and-down">
<div class="row">

<h4>COMMON VENOMOUS SNAKES- THE BIG FOUR</h4>
<div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  materialboxed">
            <%= image_tag("cobra.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Indian Cobra<i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Indian Spectacled Cobra<i class="material-icons right">close</i></span>
      <p>
        Can be easily identified by having hood and adjoined rounded mark on posterior of hood. Color of Spectacled Cobra greatly depends on geographical areas. In and around human habitation and agricultural lands it can be seen commonly as a rodent predator. Always raise hood on disturbance or to alarm its enemy. Typical spact-shaped mark is usually present which is characteristic of this species.
      </p>
    </div>
  </div>
</div>

<div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  materialboxed">
            <%= image_tag("Russells.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate"> Russell's Viper<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4 "> Russell's Viper<i class="material-icons right">close</i></span>
      <p>
        Russell's Viper is the most widely distributed Viper family member which is infamous for its fascinating whistle and long fangs. This is one of the most bite and death causing venomous snake in Indian subcontinent and the member of Big Four of India. However even with specific body patterns layman sometime assume it to be juvenile of Python.

      </p>
    </div>
  </div>
</div>
<div class="col s3" >

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  materialboxed">
            <%= image_tag("Saw-scaled_Viper.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">Saw-scaled Viper<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Saw-scaled Viper<i class="material-icons right">close</i></span>
      <p>
        This is the smallest Viper member with an average size of 30cm only. In deserts and semi-deserts of India this is perhaps the most common venomous snake and so the most important medically significant reptile for deserts and semi-deserts.
      </p>
    </div>
  </div>
</div>

<div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  " width="650">
            <%= image_tag("commonkrait.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">Commonkrait<i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Commonkrait<i class="material-icons right">close</i></span>
      <p>
Common Krait is an infamous venomous snake capable for delivering neurotoxic bite during night time. This is one of the most common medically significant snake also the member of "Big Four" of India.
      </p>
    </div>
  </div>
</div>

</div>


<div class="row">
<h4>NON-VENOMOUS/MILDLY-VENOMOUS SNAKES</h4>
  <div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  " width="650">
            <%= image_tag("Rat.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">Rat Snake<i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Rat Snake<i class="material-icons right">close</i></span>
      <p>
        Rat Snake (Divod) is a commonly seen snake which is famous for its fast crawling speed and much larger size than most of the widely distributed species found in India.
      </p>
    </div>
  </div>
</div>

  <div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  " width="650">
            <%= image_tag("whitakersboa.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">whitakersboa<i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">whitakersboa<i class="material-icons right">close</i></span>
      <p>
        Whitaker's Boa is an endemic species found in almost whole of Western Ghat's moderate elevations. Found uncommonly in hills of its range and seen frequently during disturbing soil of agricultural lands and rocky terrain.
      </p>
    </div>
  </div>
</div>

  <div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  " width="650">
            <%= image_tag("RockPython.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">Indian Rock Python<i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Indian Rock Python<i class="material-icons right">close</i></span>
      <p>
        Indian Rock Python is one of the most famous and one of the largest growing snake of India. In most of the parts of country this is the largest species 
      </p>
    </div>
  </div>
</div>

  <div class="col s3" >
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light  " width="650">
            <%= image_tag("Green-Vine-Snake.jpg", size: "200x200") %> 
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate">Green Vine Snake <i class="material-icons right">more_vert</i></span>
    
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Green Vine Snake <i class="material-icons right">close</i></span>
      <p>
Green Vine Snake (Common Vine Snake) is the most widely distributed Ahaetulla species in India also the only species of genus in most of the parts of peninsular and northern India. One of the most common and ecologically significant species of Western Ghats.
      </p>
    </div>
  </div>
</div>

</div>
</div>



</div>