<div class="container">

<p id="notice"><%= notice %></p>

<p class="report-p">
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Sighting:</strong>
  <%= @report.sighting_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @report.details %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class:"btn blue  col m4  "  %> 
<%= link_to 'Back', reports_path , class:"btn yellow  col m4  " %>
</div>