<!DOCTYPE html>
<html>
<head>
  <title>RescueApp</title>
<%= Gon::Base.render_data({}) %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>  -->
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<% if notice %>
    <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
    </div>
<% elsif %>
    <div id="notice_wrapper">
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    </div>
<% end %>

 <!--navbar starts-->
<div class="navbar-fixed" id="login_nav">
  <nav>
    <div class="nav-wrapper">
         <%= link_to image_tag("logo.png",:class => "logo"), root_path, method: :get ,:style=> "margin-top:0px;"%>
      
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down user-data">
        <% if !user_signed_in? %>
        <li><%= link_to "New sighting", new_sighting_path, class: "btn btn-link"  %></li>
        <li><%= link_to "Sign up for user", new_user_registration_path, class: "btn btn-link" %></li>
        <li><%= link_to "log in for user", new_user_session_path, class: "btn btn-link" %></li>
        <% else %>
        <li id="img-avatar">
        <%= image_tag current_user.avatar.url(:thumb), class:"circle responsive-img" %>
        </li>
        <li class="user-text">
       Welcome <%= current_user.name %>
       
       </li>
        
        <li><%= link_to "log out", destroy_user_session_path, :method => :delete, class: "btn btn-link" %></li>
        <% end %>
       </ul>
       <ul class="side-nav" id="mobile-demo">
       <% if !user_signed_in? %>

       <%= link_to "Sign up for user", new_user_registration_path %> or <%= link_to "log in for user", new_user_session_path %> <br>
       <% else %>
       <%= image_tag current_user.avatar.url(:thumb), class:"circle responsive-img" %>
       Welcome <%= current_user.name %>
       Signed in as <%= current_user.email %>.
       <%= link_to "log out", destroy_user_session_path, :method => :delete %>
       <% end %>
      </ul>
    </div>
  </nav>
</div>
<!--navbar ends-->


<div id="height-min">
<%= yield %>
</div>
 


 
 <%= image_tag("img-foot.png", :class => "responsive-img footer-img") %>
 <footer class="page-footer">

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          <address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>
        </h5>
        <p class="grey-text text-lighten-4">
       <address>
  <strong>Twitter, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>





        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
 </footer>


</body>
</html>
